.footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    color: $bright-color;
    .copy {
        border: 1px solid $bright-color;
        border-radius: 16px;
        padding: 30px;
        transition: transform .5s;
        &:hover {
            transform: scale(1.05);
        }
    }
    a {
        text-decoration: underline;
    }
}